.container {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.select {
  list-style-type: none;
  display: block;
  max-width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.option {
  border: 1px solid #123;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  font-size: 19px;
}

.option:nth-child(even) {
  background-color: #CCF2F4;
}

.option:nth-child(odd) {
  background-color: #A4EBF3;
}

.option:first-child {
  border-radius: 3px;
  font-weight: bold;
  background-color: #AAAAAA;
  color: #fff;
}


.close {
  display: none;
}

.open {
  display: block;
}